DATABASE_URL=postgresql+psycopg://user:password@postgres_database:5432/marketing_db

# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=marketing_db
POSTGRES_HOST=postgres_database